<div class="container-fluid">
  <h1>Welcome to Rails 5 &amp; Bootstrap 4 Template</h1>
  <p>Basic setup of a rails 5 application with latest bootstrap 4 and material-design-kit responsive layout.</p>
  <button class="btn btn-primary">Button</button>
</div>
