<div class="container-fluid">
  <h1>Second Menu page</h1>
  <div class="row">
    <div class="col">
    <div class="card card-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, ipsum.
    </div>
    </div>
      <div class="col">
    <div class="card card-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, ipsum.
    </div>
    </div>
      <div class="col">
    <div class="card card-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, ipsum.
    </div>
    </div>
  </div>
</div>
