<nav class="drawer drawer--dark">
  <div class="drawer-spacer">
    <div class="media align-items-center">
      <a href="index.html" class="drawer-brand-circle mr-2">H</a>
      <div class="media-body">
        <a href="index.html" class="h5 m-0 text-link">Hero Rails 5 Admin</a>
      </div>
    </div>
  </div>

  <!-- HEADING -->
  <div class="py-2 drawer-heading">
    Pages
  </div>

  <!-- MENU -->
  <ul class="drawer-menu" id="mainMenu" data-children=".drawer-submenu">
    <li class="drawer-menu-item">
      <a href="/">
        <i class="material-icons">home</i>
        <span class="drawer-menu-text">Dashboard</span>
      </a>
    </li>
    <li class="drawer-menu-item">
      <a href="/second">
        <i class="material-icons">menu</i>
        <span class="drawer-menu-text">Second Menu</span>
      </a>
    </li>
  </ul>

</nav>